* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

header img,
header div {
  border-radius: 50%;
  width: 100%;
  margin: auto;
}

header {
  text-align: center;
  margin-block: 3.2rem;
}

header div {
  width: 120px;
  background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  display: flex;
  padding: 4px;
  transition: transform ease 0.3s
}

header div:hover {
  transform: scale(1.1);
}

body {
  background-image: url('/Fundo.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-color: #121214;

  color: #A1A1AA;
  line-height: 2.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  letter-spacing: -0.18px;
}

h2 {
  color: white;

  line-height: 3.8rem;
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: -0.47px;
}


main {
  max-width: 58rem;
  width: 90%;
  margin: auto;
}

section div {
  margin-bottom: 2.4rem;
  background-color: #2A2634;
  border-radius: .8rem;
  padding: 3.2rem;

}

section {
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  padding-top: 4px;
  border-radius: 1.2rem;

}

section ul {
  margin-top: 2.4rem;

  list-style: none;
  display: flex;
  gap: 1.6rem;
}

.channel-list img {
  border-radius: 50%;
  width: 7rem;
  border: 2px solid #443E54;
}

/* elements transitions*/

section .game-list li:hover {
  transition: all ease .3s
}

section .game-list li:hover {
  transform: translateY(-10px);
}

section .channel-list li {
  transition: transform ease .18s;
}

section .channel-list li:hover {
  transform: scale(1.1);
}

section .media-list li {
  transition: transform ease .2s
}

section .media-list li:hover {
  animation: boingAnimation .6s forwards;
}

/*animation*/

header {
  animation: fromTop backwards 0.7s 0.1s;
}

.game-list li {
  animation: fromTop backwards 1s 0.7s;

}

.channel-list li {
  animation: fromTop backwards 1s 1.0s;
}

.media-list li {
  animation: fromBottom backwards 1s 1.3s;
}

section:nth-child(1) {
  animation: fromBottom backwards 0.6s 0.5s;
}

section:nth-child(2) {
  animation: fromBottom backwards 0.6s 0.8s;
}

section:nth-child(3) {
  animation: fromBottom backwards 0.6s 1.1s;
}

@keyframes fromTop {

  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }

}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes boingAnimation {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-5px);
  }

  75% {
    transform: translateY(-1px);
  }

  90% {
    transform: translateY(-3.5px);
  }

  95% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(-5px);
  }
}